<header class="bg-white shadow-md sticky top-0 z-50">
    <div class="container mx-auto px-4 py-4 flex items-center justify-between">
        <a href="#" class="text-2xl font-bold text-blue-600">E-Shop</a>

        <button id="menu-toggle" class="md:hidden text-gray-600 focus:outline-none"></button>

        <div class="hidden md:flex items-center space-x-8">
            <nav class="flex space-x-6 text-gray-700 font-medium">
                <a href="{{ path('app_home') }}" class="hover:text-blue-600 transition">Products</a>
                <a href="{{ path('app_home') }}" class="hover:text-blue-600 transition">Home</a>
            </nav>

            <div class="flex items-center space-x-4">
                {% if app.user %}
                    <a href="{{path('cart_view')}}" class="relative text-gray-700 font-medium  hover:text-blue-600 transition"> 
                       Check-out <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline-block" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13l-1.293 2.293a1 1 0 001.414 1.414L7 13zm0 0L5.4 5M16 21a2 2 0 100-4 2 2 0 000 4zm-8 0a2 2 0 100-4 2 2 0 000 4z"/>
                        </svg>
                        <span class="absolute -top-2 -right-3 bg-red-500 text-white text-xs font-bold rounded-full w-5 h-5 flex items-center justify-center">
                            <span id="cart-count"> {{ count ?? 0 }} </span>
                        </span>
                    </a>
                    <a href="{{path('app_customer')}}" class="text-sm px-4 py-2 rounded-lg bg-green-500 text-white hover:bg-green-600 transition">Dashboard</a>
                    <a href="{{ path('app_logout') }}" class="text-sm px-4 py-2 rounded-lg bg-blue-500 text-white hover:bg-blue-600 transition">Logout</a>
                {% else %}
                    <a href="{{ path('app_login') }}" class="text-sm px-4 py-2 rounded-lg border border-blue-500 text-blue-500 hover:bg-blue-50 transition">Login</a>
                    <a href="{{ path('app_register') }}" class="text-sm px-4 py-2 rounded-lg bg-blue-500 text-white hover:bg-blue-600 transition">Register</a>
                {% endif %}
            </div>
        </div>
    </div>
</header>
