{% extends 'customer/base.html.twig' %}

{% block title %}Hello CustomerController!{% endblock %}

{% block body %}
    <h2 class="text-xl font-bold mb-4">Edit Profile</h2>

    {{ form_start(form) }}

    <div class="mb-4">
        {{ form_label(form.fullName) }}
        {{ form_widget(form.fullName, {'attr': {'class': 'bg-white p-2 w-full border border-gray-300 rounded-md'}}) }}
    </div>

    <div class="mb-4">
        {{ form_label(form.address) }}
        {{ form_widget(form.address, {'attr': {'class': 'bg-white p-2 w-full border border-gray-300 rounded-md'}}) }}
    </div>

    <button type="submit" class=" bg-blue-600 text-white px-4 py-2 rounded">Update</button>

    {{ form_end(form) }}
{% endblock %}
